<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>controller.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>controller.editProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addList</servlet-name>
        <servlet-class>controller.addList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteList</servlet-name>
        <servlet-class>controller.deleteList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editList</servlet-name>
        <servlet-class>controller.editList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductToList</servlet-name>
        <servlet-class>controller.addProductToList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>controller.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Send</servlet-name>
        <servlet-class>controller.Send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnreadMessage</servlet-name>
        <servlet-class>controller.UnreadMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFees</servlet-name>
        <servlet-class>controller.AddFees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFees</servlet-name>
        <servlet-class>controller.DeleteFees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFees</servlet-name>
        <servlet-class>controller.EditFees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenuServlet</servlet-name>
        <servlet-class>controller.RevenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMessage</servlet-name>
        <servlet-class>controller.AddMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageEdit</servlet-name>
        <servlet-class>controller.MessageEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMessage</servlet-name>
        <servlet-class>controller.DeleteMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendInvoice</servlet-name>
        <servlet-class>controller.SendInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmSellerPayment</servlet-name>
        <servlet-class>controller.ConfirmSellerPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplayMessage</servlet-name>
        <servlet-class>controller.ReplayMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNewMessage</servlet-name>
        <servlet-class>controller.SendNewMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getServerDateandTime</servlet-name>
        <servlet-class>controller.getServerDateandTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentAuction</servlet-name>
        <servlet-class>FrontEndController.CurrentAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contactus</servlet-name>
        <servlet-class>FrontEndController.Contactus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>FrontEndController.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unreadmessageportalpage</servlet-name>
        <servlet-class>controller.Unreadmessageportalpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>backendunreadmessage</servlet-name>
        <servlet-class>controller.backendunreadmessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testGetURL</servlet-name>
        <servlet-class>controller.testGetURL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bid</servlet-name>
        <servlet-class>live.controller.bid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastTimer</servlet-name>
        <servlet-class>live.controller.LastTimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaxBid</servlet-name>
        <servlet-class>live.controller.MaxBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chklive</servlet-name>
        <servlet-class>live.controller.chklive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createauction</servlet-name>
        <servlet-class>live.controller.createauction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lastbidd</servlet-name>
        <servlet-class>live.controller.lastbidd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadauctionitem</servlet-name>
        <servlet-class>live.controller.loadauctionitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loaddata</servlet-name>
        <servlet-class>live.controller.loaddata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatetimer</servlet-name>
        <servlet-class>live.controller.updatetimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>winner</servlet-name>
        <servlet-class>live.controller.winner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofile</servlet-name>
        <servlet-class>FrontEndController.updateprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteinbox</servlet-name>
        <servlet-class>controller.deleteinbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductStatus</servlet-name>
        <servlet-class>controller.UpdateProductStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm</servlet-name>
        <servlet-class>live.controller.Confirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addList</servlet-name>
        <url-pattern>/addList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteList</servlet-name>
        <url-pattern>/deleteList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editList</servlet-name>
        <url-pattern>/editList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductToList</servlet-name>
        <url-pattern>/addProductToList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Send</servlet-name>
        <url-pattern>/Send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnreadMessage</servlet-name>
        <url-pattern>/UnreadMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFees</servlet-name>
        <url-pattern>/AddFees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFees</servlet-name>
        <url-pattern>/DeleteFees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFees</servlet-name>
        <url-pattern>/EditFees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenuServlet</servlet-name>
        <url-pattern>/RevenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMessage</servlet-name>
        <url-pattern>/AddMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageEdit</servlet-name>
        <url-pattern>/MessageEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMessage</servlet-name>
        <url-pattern>/DeleteMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendInvoice</servlet-name>
        <url-pattern>/SendInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmSellerPayment</servlet-name>
        <url-pattern>/ConfirmSellerPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplayMessage</servlet-name>
        <url-pattern>/ReplayMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNewMessage</servlet-name>
        <url-pattern>/SendNewMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getServerDateandTime</servlet-name>
        <url-pattern>/getServerDateandTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentAuction</servlet-name>
        <url-pattern>/CurrentAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contactus</servlet-name>
        <url-pattern>/Contactus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unreadmessageportalpage</servlet-name>
        <url-pattern>/Unreadmessageportalpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>backendunreadmessage</servlet-name>
        <url-pattern>/backendunreadmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testGetURL</servlet-name>
        <url-pattern>/testGetURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bid</servlet-name>
        <url-pattern>/bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastTimer</servlet-name>
        <url-pattern>/LastTimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaxBid</servlet-name>
        <url-pattern>/MaxBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chklive</servlet-name>
        <url-pattern>/chklive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createauction</servlet-name>
        <url-pattern>/createauction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lastbidd</servlet-name>
        <url-pattern>/lastbidd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadauctionitem</servlet-name>
        <url-pattern>/loadauctionitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loaddata</servlet-name>
        <url-pattern>/loaddata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatetimer</servlet-name>
        <url-pattern>/updatetimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>winner</servlet-name>
        <url-pattern>/winner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteinbox</servlet-name>
        <url-pattern>/deleteinbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductStatus</servlet-name>
        <url-pattern>/UpdateProductStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
