/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2014, 12:09:12 PM
    Author     : emam
*/

            div.imgs
            {
                margin:5px;
                padding: 5px;
                border:1px solid #ffffff;
                height:auto;
                width:auto;
                float:left;
                text-align:center;
            }
            div.imgs imgs
            {
                display:inline;
                margin:5px;
                border:1px solid #ffffff;
            }
            div.imgs a:hover imgs
            {
                border:1px solid #ffffff;
            }
            div.descs
            {
                text-align:center;
                font-weight:normal;
                width:auto;
                margin:5px;
            }

            .container1 {
                  width: 40%;
                  margin: 20px;
            }
             
            .container2 {
                  width: 50%;
                  margin: 20px;
            }
             
            .container3 {
                  width: 60%;
                  margin: 20px;
            }
             
            .message2 {
                  font-size: 13px;
                  font-family: Arial, sans-serif;
                  letter-spacing: 1px;
            }
        